
#gui {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

.gui {
  border: 1px solid #333;
  border-radius: 3px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

#listing {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;
  height: 300px;
}

.close {
  float: right;
}

#gui #popup {
  display: none;
  position: absolute;
  top:200px;
  left: 40%;
  width: 200px;
  height: 100px;
}
