html, body {
  margin: 0;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: monospace;
  font-size: 8pt;
}
#screen {
  display: flex;
  flex-direction: row;
}
#main {
  position: relative;
  flex:1;
}
